/* .cart {
 background: coral;
 border-radius: 20px;
} */


.cart {
  display: flex;
  flex-flow: row;
  align-content: center;
  
}
.count {
  /* margin-left: 5px; */
  font-size: 14px;
  background-color: coral;
  border-radius: 50%;
  padding: 6px;
  margin: auto;
}
