.header {
  position:fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: darkgrey;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px
}